{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'lesson_planner/css/style.css' %}">
</head>
<body>
    <header class="container-fluid py-4 shadow-lg">
        <div class="container">
            <div class="d-flex flex-column flex-sm-row align-items-center justify-content-between">
                <div class="d-flex align-items-center gap-3 mb-3 mb-md-0">
                    <img src="{% static 'lesson_planner/images/book.svg' %}" alt="Лого" id="logo">
                    <h3 class="my-1 fw-bold">
                        <a href="{% url 'lesson_planner:index' %}" class="link-light link-underline link-underline-opacity-0">
                            Планы уроков
                        </a>
                    </h3>
                </div>
                <!-- Кнопка (справа или по центру на малых экранах) -->
                <div class="text-center text-md-end">
                    <a href="{% url 'lesson_planner:create_lesson_plan' %}" class="btn btn_add_plan btn-light" id="add_plan_btn">
                        <img src="{% static 'lesson_planner/images/plus_icon.svg' %}" alt="+"> Добавить план урока
                    </a>
                </div>
            </div>
        </div>
    </header>
    {% block content %}
    {% endblock content %}
    <footer class="container-fluid py-4">
        <div class="row align-items-center justify-content-around">
            <div class="col-3 d-flex flex-column">
                <div class="btn-group dropup">
                    <button type="button" class="btn btn-light dropdown-toggle" id="btn_types_lesson" data-bs-toggle="dropdown" aria-expanded="false">
                        Предметы
                    </button>
                    <ul class="dropdown-menu">
                        {% for subject in subjects %}
                            <li><span class="dropdown-item small" href="#">{{ subject.name }}</span></li>
                        {% endfor %}
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item dropdown-link" href="#">Редактировать</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-3 d-flex flex-column">
                <div class="btn-group dropup">
                    <button type="button" class="btn btn-light dropdown-toggle" id="btn_types_lesson" data-bs-toggle="dropdown" aria-expanded="false">
                        Типы уроков
                    </button>
                    <ul class="dropdown-menu">
                        {% for type_lesson in types_lessons %}
                            <li><span class="dropdown-item small" href="#">{{ type_lesson.name }}</span></li>
                        {% endfor %}
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item dropdown-link" href="#">Редактировать</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>